body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  #jokes {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  p {
    font-size: 1.2em;
    margin: 20px 0;
  }